<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Please sign in</title>
    <script src="https://cdn.jsdelivr.net/gh/georchestra/header@dist/header.js"></script>
    <link href="login/bootstrap.min.css" rel="stylesheet">
    <link href="login/signin.css" rel="stylesheet"/>
</head>
<body>
<!--
<header th:if="${header_url != null}">
    <iframe id="header" title="Header" th:src="${header_url}" th:style="'width:100%;height:'+${header_height}+'px;border:none;overflow:hidden;transition: all 0.3s ease 0s;'" scrolling="no"
            frameborder="0"></iframe>
</header>
-->
<header>
    <geor-header></geor-header>
</header>
<div class="container">
    <form class="form-signin" method="post" action="/login" th:if="${ldapEnabled}">
        <h2 class="form-signin-heading">Please sign in</h2>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </p>
        <button class="btn btn-lg btn-primary btn-block mb-2" type="submit">Sign in</button>
        <div class="d-flex flex-row flex-wrap justify-content-around">
          <a href="/console/account/new">
              <span>Sign up</span>
          </a>
          <a href="/console/account/passwordRecovery">
            <span>Forgot password?</span>
          </a>
        </div>
    </form>
    <div th:if="${oauth2LoginLinks.size() != 0}" class="container"><h2 class="form-signin-heading">Login with OAuth 2.0</h2>
        <table class="table table-striped">
        <tr th:each="oauth2Client : ${oauth2LoginLinks}">
            <td>
                <a th:href="${oauth2Client.key}" th:text="${oauth2Client.value}"></a>
            </td>
        </tr>
    </table></div>
</div>
<!--
<footer th:if="${footer_url != null}">
    <iframe id="footer" th:src="${footer_url}" style="width:100%;border:none;overflow:hidden;" scrolling="no"
            frameborder="0"></iframe>
</footer>
-->
</body>
</html>
