<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Please sign in</title>
    <script src="https://cdn.jsdelivr.net/gh/georchestra/header@dist/header.js"></script>
    <link href="login/bootstrap.min.css" rel="stylesheet">
    <link href="login/signin.css" rel="stylesheet"/>
</head>
<body>
  <header th:if="${header_enabled}">
    <geor-header></geor-header>
  </header>
<div class="container">
    <form class="form-signin" method="post" action="/login" th:if="${ldapEnabled}">
        <h2 class="form-signin-heading"><span th:text="#{login_message_title}"></span></h2>
        <p>
            <label for="username" class="sr-only"><span th:text="#{username}"></span></label>
            <input type="text" id="username" name="username" class="form-control" th:placeholder="#{username}" required autofocus>
        </p>
        <p>
            <label for="password" class="sr-only"><span th:text="#{password}"></span></label>
            <input type="password" id="password" name="password" class="form-control" th:placeholder="#{password}" required>
        </p>
        <button class="btn btn-lg btn-primary btn-block mb-2" type="submit"><span th:text="#{login}"></span></button>
        <div class="d-flex flex-row flex-wrap justify-content-around">
          <a href="/console/account/new">
              <span th:text="#{register}"></span>
          </a>
          <a href="/console/account/passwordRecovery">
              <span th:text="#{forget_password}"></span>
          </a>
        </div>
        <div style="margin-top: 60px;">
            <div style="text-align: center; font-size: 18px; color: #ff0033;" th:if="${invalidCredentials}"> <span th:text="#{invalid_credentials}"></span> </div>
            <div style="text-align: center; font-size: 18px; color: #ff0033;" th:if="${passwordExpired}">  <span th:text="#{expired_password}" ></span>
                <a href="/console/account/passwordRecovery" > <span th:text="#{expired_password_link}" ></span> </a>
            </div>
            <div style="text-align: center; font-size: 18px; color: #ff0033;" th:if="${duplicateAccount}"> <span th:text="#{duplicate_account}"></span> </div>
        </div>
    </form>
    <div th:if="${oauth2LoginLinks.size() != 0}" class="container"><h2 class="form-signin-heading">Login with OAuth 2.0</h2>
        <table class="table table-striped">
        <tr th:each="oauth2Client : ${oauth2LoginLinks}">
            <td>
                <a th:href="${oauth2Client.key}" th:text="${oauth2Client.value}"></a>
            </td>
        </tr>
    </table></div>
</div>
<!--
<footer th:if="${footer_url != null}">
    <iframe id="footer" th:src="${footer_url}" style="width:100%;border:none;overflow:hidden;" scrolling="no"
            frameborder="0"></iframe>
</footer>
-->
</body>
</html>
