<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Confirm Log Out?</title>
    <script src="https://cdn.jsdelivr.net/gh/georchestra/header@dist/header.js"></script>
    <link href="login/bootstrap.min.css" rel="stylesheet">
    <link href="login/signin.css" rel="stylesheet"/>
  </head>
  <geor-header></geor-header>
  <body>
     <div class="container mt-5">
      <form class="form-signin" method="post" action="/logout">
        <h2 class="text-center">Are you sure you want to log out?</h2>
        <button class="btn btn-lg btn-primary btn-block w-auto mx-auto" type="submit">Log Out</button>
      </form>
    </div>
  </body>
</html>

