[submodule "georchestra"]
    path = georchestra
    url = https://github.com/georchestra/georchestra.git
    shallow = true
    branch = master
[submodule "datadir"]
    path = datadir
    url = https://github.com/georchestra/datadir.git
    branch = master
