**/target/
*/jsbuild/venv/
*/jsbuild/env/
*/src/main/webapp/build/
**/.project
**/.classpath
**/.settings
.idea/
.vscode/
*.iml
*~
.attach_pid*
.flattened-pom.xml
.mvn/wrapper/maven-wrapper.jar
.factorypath
